

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.team {
    padding: 8rem calc((100vw - 1100px)/2);
 background-color:    hsl(210, 36%, 96%);
}
 .logo {
     display: flex;
     align-items: center;
  margin-bottom: 5rem;
  margin-left: 28rem;
} 

.team__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: repeat(auto , 350px);
}

.team__card {
    margin: 1rem;
    border-radius: 10px;
    position: relative;
}
.team__text {
    padding: 1rem;
}
.team__text h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}
.team__desc {
font-size: clamp(1rem , 3vw , 1.3rem);
line-height: 1.4;
}
.team__card p {
    position: absolute;
    bottom: 30px;
    color:  #38ef7d;
    left : 25px;
    font-size: 3rem;

}
.team__img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
}
.topline {
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
h1 {
    background: #00C9FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
-webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.text__text:nth-child(1) {
grid-row: 1/3;
grid-column: 2/3;
}
.team__text:nth-child(2 ){
    grid-row: 5/6;
    grid-column: 1/2;
}
.team__card:nth-child(3){
   grid-row: 1 /3;
   grid-column: 1 /2; 
}
.team__card:nth-child(4){
   grid-row: 2/4;
   grid-column: 2 /3; 
}
.team__card:nth-child(5){
   grid-row: 3/5;
   grid-column: 1 /2; 
}
.team__card:nth-child(6){
   grid-row: 4/6;
   grid-column: 2 /3; 
}

/* Footer CSS */
.footer__container {
    background-color: #131313;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  
  .footer__link--wrapper {
    display: flex;
  }
  
  .footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
     transition : all 0.3s ease ;
  }
  .footer__link--wrapper a:hover  {
  padding-left: 8px;
  transition: all 0.3s ease-in;
  }
  
  
  .footer__link--items h2 {
    margin-bottom: 16px;
    color: #fff;
  }
  
  .footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3 ease-out;
  }
  
  .footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3 ease-out;
  }
  
  .social__icon--link {
    color: #fff;
    font-size: 24px;
  }
  
  .social__media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .website__rights {
    color: #fff;
  }
  #img-footer{
    width: 50px;
    margin-left: 3rem;
  }
  
  @media screen and (max-width: 820px) {
    .footer__links {
      padding-top: 2rem;
    }
  
    #footer__logo {
      margin-bottom: 2rem;
    }
  
    .website__rights {
      margin-bottom: 2rem;
    }
  
    .footer__link--wrapper {
      flex-direction: column;
    }
  
    .social__media--wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer__link--items {
      margin: 0;
      padding: 10px;
      width: 100%;
    }
  }



  /* review css */
  main {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(210, 36%, 96%);
  }
  .title {
    text-align: center;
    margin-bottom: 4rem;
  }
  .underline {
    height: 0.25rem;
    width: 5rem;
    background: #92FE9D ;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    width: 80vw;
    max-width: 620px;
  }
  .review {
    background: linear-gradient(to right, #92FE9D, #00C9FF);;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
    text-align: center;
  }
  .review:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  .img-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  #person-img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
  }
  .img-container::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10e";
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: translateY(25%);
    background: #00C9FF;
    color: #fff;
  }
  .img-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #00C9FF;
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    border-radius: 50%;
  }
  #author {
    margin-bottom: 0.25rem;
  }
  #job {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: hsl(205, 78%, 60%);;
    font-size: 0.85rem;
  }
  #info {
    margin-bottom: 0.75rem;
  }
  .prev-btn,
  .next-btn {
    color: black;
    font-size: 1.25rem;
    background: transparent;
    border-color: transparent;
    margin: 0 0.5rem;
    transition:all 0.3s linear;
    cursor: pointer;
  }
  .prev-btn:hover,
  .next-btn:hover {
    color: hsl(205, 78%, 60%) ;
  }
  .random-btn {
    margin-top: 0.5rem;
    background: hsl(205, 100%, 96%);;
    color: hsl(205, 78%, 60%);
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    border-radius: 0.25rem;
    transition:all 0.3s linear;
    border-color:  hsl(205, 78%, 60%);
    cursor: pointer;
  }
  .random-btn:hover {
    background: #92FE9D;
    color: hsl(205, 86%, 17%);;
  }